* {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('NunitoSans.ttf') format('truetype');
}

body {
    background-image: linear-gradient(to right, #4E896D, #94BCB3);
    margin: 0 35px 0 35px;
}
/* -------------------------------------------ХЕДЕР------------------ */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.translate_img {
    width: 50%;
}

a {
    all: unset;
    color: white;
    cursor: pointer;
    font-family: 'Nunito Sans', sans-serif;
}

h1 {
    color: white;
    font-family: 'Nunito Sans', sans-serif;
}

.journal_h1 {
    font-size: 80px;
    margin: 30px 0;
}

.header_list {
    display: flex;
    gap: 30px;
    font-size: 28px;
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 0.8px;
}

.translator_icon {
    margin-top: 25px;
}
/* --------------------------------------------- */

.list_blok {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 100px;
}

.block_num {
    display: flex;
    border-radius: 40px;
    align-items: center;
    width: 800px;
    height: 940px;
    border: none;
    background-color: #4E896D;
    font-size: 100px;
}

.block_text {
    display: flex;
    justify-content: right;
    flex-direction: column;
    border-radius: 40px;
    width: 700px;
    height: 100%;
    border: 1px solid white;
    padding-right: 40px;
    color: #4E896D;
    background-color: white;
}

.block_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.element1_h1 {
    color: #4E896D;
    font-size: 50px;
    max-width: 400px;
    padding: 40px;
}

.qr1 {
    width: 120px;
}

.element1_p {
    font-size: 27px;
    padding: 40px;
}

.number {
    transform: rotate(90deg);
    color: white;
    font-size: 200px;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: 650px;
}
