
* {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf') format('ttf');
}

body {
    background-image: linear-gradient(to right, #4E896D, #94BCB3);
    margin: 0 35px 0 35px;
}
/* -------------------------------------------ХЕДЕР------------------ */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.translate_img {
    width: 50%;
}

a {
    all: unset;
    color: white;
    cursor: pointer;
    font-family: var(Nunito Sans);
}

h1 {
    color: white;
    font-family: var(Nunito Sans);
}

.journal_h1 {
    font-size: 80px;
    margin: 30px 0;
}

.header_list {
    display: flex;
    gap: 30px;
    font-size: 20px;
}
.title_begin {
    font-size: 128px;
}
h2 {
    font-size: 80px;
    color: #FFFFFF;
    margin-top: 47px;
}
h3 {
    font-size: 60px;
    color: #FFFFFF;
    margin-top: 100px;
    margin-bottom: 68px;
}
.card {
    display: flex;
}
.card p {
    font-size: 40px;
    color: #FFFFFF;
    margin-left: 102px;
    line-height: 80px;
    margin-top: 50px;
}